@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

/*font-family: 'Work Sans', sans-serif;*/



*{
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

/*<Header>-------------------------------------------------------------------------------------------*/

h1{    
    font-family: 'Gotham', sans-serif;
}

header{
    background-color: #a10220;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;

    position: fixed;
    top:0;
    left: 0;
    right: 0;
}

.header-navbar ul li{
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
}

li a{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    color: white;
}

li a{
    padding: 10px;
}

.guia-atual-header-navbar-li{
    color: white;
    text-decoration: underline;
    pointer-events: none;
}

.header-navbar-li:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.header-navbar-entrar:hover{
    border-radius: 10px;
    border: 1.5px solid white;
    background-color: #a10220;
    color: white;
    text-decoration: none;
}

.header-navbar-entrar{
    border: 1px solid white;
    color: black;
    background-color: #F8F9FA;
    border-radius: 10px;
}

.header-fim ul li{
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
} 

.header-navbar-li:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
